* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto+Sans+SC", "Courier New", Courier, monospace;
}

body {
  header {
    position: sticky;
    top: 0;
    z-index: 1000000000;
    nav.wrapper-banner {
      background: linear-gradient(to right, #333333, #4e4d4d);
      width: 100%;
      display: flex;
      min-height: 50px;
      //border: 2px solid red;
      nav.wrapper {
        width: 100%;
        display: flex;
        div.air {
          //border: 2px solid red;
          flex: 1 1 20px;
        }
        div.left {
          //border: 2px solid green;
          flex: 3 1 50px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          div.logo {
            width: 65px;
            height: 50px;
            background-image: url(../img/logo.png);
            background-size: contain;
            //border: 2px solid green;
            position: relative;
            z-index: 9;
          }
          div.logo-name {
            font-size: 22px;
            //border: 2px solid green;
            font-weight: bolder;
            color: white;
          }
        }
        div.middle {
          //border: 2px solid yellow;
          flex: 4 1 200px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          div {
            //border: 2px solid yellow;
            a {
              text-decoration: none;
              color: white;
              transition: all 0.2s ease;
              &:hover {
                color: #55a5f6;
              }
            }
          }
          div.produceServer {
            position: relative;
            div.infomation1 {
              overflow: hidden;
              transition: height ease-in-out;
              transition-duration: 0.2s;
              position: absolute;
              width: 1920px;
              height: 0px;
              top: 36px;
              left: -800px;
              background-color: white;
              z-index: 10;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              display: flex;
              justify-content: center;
              align-items: flex-start;
              div.info-1 {
                display: flex;
                margin-top: 20px;
                padding-right: 20px;
                //border: 4px solid red;
                border-right: 2px solid gray;
                height: 500px;
                flex-direction: column; /* 设置为竖向排列 */
                div.name {
                  font-size: small;
                }
                div.demo {
                  margin-top: 20px;
                  display: flex;
                  i {
                    font-size: 20px;
                    flex: 1 1 20px;
                    color: #0e86ff;
                    padding-right: 10px;
                  }
                  p {
                    padding: 0;
                    margin: 0;
                  }
                  p.b {
                    font-size: larger;
                    font-weight: bolder;
                    b.new {
                      color: red;
                    }
                  }
                  //border: 4px solid red;
                }
              }
              div.info-2 {
                display: flex;
                margin-top: 20px;
                padding-right: 20px;
                border-right: 2px solid gray;
                //border: 4px solid red;
                height: 500px;
                flex-direction: column; /* 设置为竖向排列 */
                margin-left: 20px;
                div.name {
                  font-size: small;
                }
                div.demo {
                  margin-top: 20px;
                  display: flex;
                  i {
                    font-size: 20px;
                    flex: 1 1 20px;
                    color: #0e86ff;
                    padding-right: 10px;
                  }
                  p {
                    padding: 0;
                    margin: 0;
                  }
                  p.b {
                    font-size: larger;
                    font-weight: bolder;
                    b.new {
                      color: red;
                    }
                  }
                  //border: 4px solid red;
                }
              }
              div.info-3 {
                margin-top: 20px;
                display: flex;
                margin-left: 20px;
                padding-right: 20px;
                border-right: 2px solid gray;
                //border: 4px solid red;
                height: 500px;
                flex-direction: column; /* 设置为竖向排列 */
                div.name {
                  font-size: small;
                }
                div.demo {
                  margin-top: 20px;
                  display: flex;
                  i {
                    font-size: 20px;
                    flex: 1 1 20px;
                    color: #0e86ff;
                    padding-right: 10px;
                  }
                  p {
                    padding: 0;
                    margin: 0;
                  }
                  p.b {
                    font-size: larger;
                    font-weight: bolder;
                    b.new {
                      color: red;
                    }
                  }
                  //border: 4px solid red;
                }
              }
            }
            &:hover div.infomation1 {
              height: 600px;
            }
          }
          div.API {
            position: relative;
            div.infomation2 {
              overflow: hidden;
              display: flex;
              transition: height ease-in-out;
              transition-duration: 0.2s;
              position: absolute;
              width: 1920px;
              height: 0px;
              top: 36px;
              left: -700px;
              background-color: white;
              z-index: 10;
              justify-content: center;
              align-items: baseline;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              //border: 4px solid red;
              div.info-1 {
                display: flex;
                margin-top: 20px;
                padding-right: 20px;
                //border: 4px solid red;
                height: 500px;
                flex-direction: column; /* 设置为竖向排列 */
                div.name {
                  position: absolute;
                  //border: 4px solid red;
                  color: black;
                  z-index: 11;
                  left: 200px;
                  font-size: larger;
                  font-weight: bolder;
                }
                div.wrapper {
                  border-top: 2px solid gray;
                  padding: 10px 0;
                  left: 200px;
                  top: 70px;
                  position: absolute;
                  div.a {
                    flex-direction: column; /* 设置为竖向排列 */
                    display: flex;
                    justify-content: center;
                    a {
                      font-size: medium;
                      color: black;
                    }
                  }
                  //border: 4px solid red;
                }
              }
            }
            &:hover div.infomation2 {
              height: 400px;
            }
          }
          div.aboutUs {
            position: relative;
            div.infomation3 {
              overflow: hidden;
              transition: height ease-in-out;
              transition-duration: 0.2s;
              position: absolute;
              width: 400px;
              height: 0px;
              top: 37px;
              left: 0px;
              background-color: white;
              z-index: 11;
              display: flex;
              box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
              div.part-1 {
                display: flex;
                flex-direction: column;
                width: 200px;
                align-items: center;
                div.name {
                  margin-left: -56px;
                  font-size: larger;
                  font-weight: bolder;
                  margin-top: 20px;
                }
                div.items {
                  border-top: 1px solid gray;
                  padding: 20px;
                  font-size: 12px;
                  div.items-items {
                    border-top: 1px solid gray;
                    padding-top: 10px;
                  }
                }
              }
              div.part-2 {
                display: flex;
                flex-direction: column;
                width: 200px;
                background: #dedcdc4c;
                align-items: center;
                p.b {
                  font-size: small;
                  font-weight: lighter;
                  padding-left: 50px;
                  color: #4e4d4d;
                }
                span.ren {
                  color: #55a5f6;
                }
                p {
                  margin-top: 20px;
                  padding-bottom: 0;
                  display: block;
                  font-size: 12px;
                }
              }
            }
            &:hover div.infomation3 {
              height: 400px;
            }
          }
        }
        div.phone {
          //border: 2px solid black;
          flex: 3 1 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            display: inline-block;
            color: white;
          }
        }
        div.right {
          display: flex;
          //border: 2px solid blue;
          justify-content: space-around;
          align-items: center;
          color: white;
          div.freeToRegister {
            margin-left: 10px;
            background-color: #0e86ff;
            border-radius: 5px;
            &:hover {
              color: #4e4d4d;
              background-color: #0c69c6;
            }
          }
          div {
            a {
              color: white;
              text-decoration: none;
            }

            i {
              color: white;
            }
          }
        }
      }
    }
  }
  main {
    div.mian-wrapper {
      div.part1 {
        width: 100%;
        height: 400px;
        .swiper {
          margin-top: 50px;
          overflow: hidden;
          width: 100%;
          height: 90%;
          div.img {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 30%;
            }
          }
          .swiper-slide-active {
            color: #000;
          }
        }
      }
      div.part2 {
        width: 100%;
        height: 280px;
        background-image: url(../img/js1.png);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        div.wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          div.info {
            margin-top: 10px;
            h2 {
              color: white;
              font-weight: bold;
            }
          }
        }
      }
      div.part3 {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        div.wrapper {
          width: 60%;
          display: flex;
          justify-content: center;
          align-items: center;
          div.info {
            display: flex;
            justify-content: space-around;
            align-items: center;
            div.p {
              border: 2px solid rgba(248, 18, 18, 0);
              margin-left: 80px;
              font-size: larger;
              font-weight: bolder;
              &:hover {
                border-bottom: 2px solid #0e86ff;
              }
            }
          }
        }
      }
      div.part4 {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        position: relative;
        top: -20px;
        div.wrapper {
          width: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          div.h1 {
            padding-bottom: 20px;
          }
          div.p {
            font-weight: 500;
            text-indent: 20px;
            margin-top: 10px;
          }
        }
      }
      div.part5 {
        width: 100%;
        height: 500px;
        background-image: url(../img/js8.png);
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div.wrapper {
          width: 50%;
          div.h1 {
            position: relative;
            top: -100px;
            left: 375px;
            font-weight: bolder;
          }
          div.info1-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            div.info1 {
              margin-left: 50px;
              background-color: rgba(255, 255, 255, 0.685);
              display: flex;
              justify-content: center;
              align-items: center;
              div.info {
                div.title {
                  margin: 10px;
                  font-size: larger;
                  font-weight: bolder;
                }
              }
              img {
                width: 20%;
              }
            }
          }
          div.info2 {
            background-color: rgba(255, 255, 255, 0.685);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 50px;
            left: 35px;
            div.info {
              div.title {
                margin: 10px;
                font-size: larger;
                font-weight: bolder;
              }
            }
          }
        }
      }
      div.part7 {
        width: 100%;
        height: 500px;
        background-color: #242b3a;
        div.info-wrapper {
          display: flex;
          justify-content: center;
          div.info {
            margin-top: 30px;
            margin-left: 30px;
            border-right: 2px solid #999;
            padding-right: 30px;
            h3 {
              margin-top: 30px;
              color: white;
            }
            p {
              margin-top: 15px;
              color: #999;
            }
          }
        }
      }
    }
  }
}
