@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto+Sans+SC", "Courier New", Courier, monospace;
}

body {
  overflow: hidden;
}
body header nav.wrapper-banner {
  background: linear-gradient(to right, #333333, #4e4d4d);
  width: 100%;
  display: flex;
  min-height: 50px;
}
body header nav.wrapper-banner nav.wrapper {
  width: 100%;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.air {
  flex: 1 1 20px;
}
body header nav.wrapper-banner nav.wrapper div.left {
  flex: 3 1 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.left div.logo {
  width: 65px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-size: contain;
  position: relative;
  z-index: 9;
}
body header nav.wrapper-banner nav.wrapper div.left div.logo-name {
  font-size: 22px;
  font-weight: bolder;
  color: white;
}
body header nav.wrapper-banner nav.wrapper div.middle {
  flex: 4 1 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}
body header nav.wrapper-banner nav.wrapper div.middle div a:hover {
  color: #55a5f6;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer {
  position: relative;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 {
  overflow: hidden;
  transition: height ease-in-out;
  transition-duration: 0.2s;
  position: absolute;
  width: 1920px;
  height: 0px;
  top: 36px;
  left: -800px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 {
  display: flex;
  margin-top: 20px;
  padding-right: 20px;
  border-right: 2px solid gray;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.name {
  font-size: small;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo {
  margin-top: 20px;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo i {
  font-size: 20px;
  flex: 1 1 20px;
  color: #0e86ff;
  padding-right: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo p {
  padding: 0;
  margin: 0;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo p.b {
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo p.b b.new {
  color: red;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 {
  display: flex;
  margin-top: 20px;
  padding-right: 20px;
  border-right: 2px solid gray;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
  margin-left: 20px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.name {
  font-size: small;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo {
  margin-top: 20px;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo i {
  font-size: 20px;
  flex: 1 1 20px;
  color: #0e86ff;
  padding-right: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo p {
  padding: 0;
  margin: 0;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo p.b {
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo p.b b.new {
  color: red;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 {
  margin-top: 20px;
  display: flex;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 2px solid gray;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.name {
  font-size: small;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo {
  margin-top: 20px;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo i {
  font-size: 20px;
  flex: 1 1 20px;
  color: #0e86ff;
  padding-right: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo p {
  padding: 0;
  margin: 0;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo p.b {
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo p.b b.new {
  color: red;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer:hover div.infomation1 {
  height: 600px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API {
  position: relative;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 {
  overflow: hidden;
  display: flex;
  transition: height ease-in-out;
  transition-duration: 0.2s;
  position: absolute;
  width: 1920px;
  height: 0px;
  top: 36px;
  left: -700px;
  background-color: white;
  z-index: 10;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 {
  display: flex;
  margin-top: 20px;
  padding-right: 20px;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.name {
  position: absolute;
  color: black;
  z-index: 11;
  left: 200px;
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.wrapper {
  border-top: 2px solid gray;
  padding: 10px 0;
  left: 200px;
  top: 70px;
  position: absolute;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.wrapper div.a {
  flex-direction: column; /* 设置为竖向排列 */
  display: flex;
  justify-content: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.wrapper div.a a {
  font-size: medium;
  color: black;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API:hover div.infomation2 {
  height: 400px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs {
  position: relative;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 {
  overflow: hidden;
  transition: height ease-in-out;
  transition-duration: 0.2s;
  position: absolute;
  width: 400px;
  height: 0px;
  top: 37px;
  left: 0px;
  background-color: white;
  z-index: 11;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 div.name {
  margin-left: -56px;
  font-size: larger;
  font-weight: bolder;
  margin-top: 20px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 div.items {
  border-top: 1px solid gray;
  padding: 20px;
  font-size: 12px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 div.items div.items-items {
  border-top: 1px solid gray;
  padding-top: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: rgba(222, 220, 220, 0.2980392157);
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 p.b {
  font-size: small;
  font-weight: lighter;
  padding-left: 50px;
  color: #4e4d4d;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 span.ren {
  color: #55a5f6;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 p {
  margin-top: 20px;
  padding-bottom: 0;
  display: block;
  font-size: 12px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs:hover div.infomation3 {
  height: 400px;
}
body header nav.wrapper-banner nav.wrapper div.phone {
  flex: 3 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.phone i {
  display: inline-block;
  color: white;
}
body header nav.wrapper-banner nav.wrapper div.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
body header nav.wrapper-banner nav.wrapper div.right div.freeToRegister {
  margin-left: 10px;
  background-color: #0e86ff;
  border-radius: 5px;
}
body header nav.wrapper-banner nav.wrapper div.right div.freeToRegister:hover {
  color: #4e4d4d;
  background-color: #0c69c6;
}
body header nav.wrapper-banner nav.wrapper div.right div a {
  color: white;
  text-decoration: none;
}
body header nav.wrapper-banner nav.wrapper div.right div i {
  color: white;
}
body main {
  position: relative;
}
body main div.main-part {
  width: 100%;
}
body main div.main-part div.main {
  position: relative;
  width: 100%;
  height: 1080px;
  background: linear-gradient(to right, #0e86ff, #0e86ff);
}
body main div.main-part div.main div.info1 {
  position: relative;
}
body main div.main-part div.main div.info1 div.info1 {
  position: absolute;
  color: white;
  font-size: 65px;
  top: 100px;
  left: 50px;
  font-weight: bolder;
}
body main div.main-part div.main div.info1 div.info1 b {
  display: inline-block;
  color: #ffaa5f;
  font-size: 80px;
  position: relative;
  top: -12px;
  font-weight: bolder;
}
body main div.main-part div.main div.info1 div.info2 {
  position: absolute;
  color: white;
  font-size: 45px;
  top: 200px;
  left: 80px;
  font-weight: bold;
}
body main div.main-part div.main div.info1 div.info2 b {
  display: inline-block;
  color: #ffaa5f;
  position: relative;
  top: -5px;
  font-weight: bolder;
}
body main div.main-part div.main div.line1 {
  width: 680px;
  border: 4px solid white;
  height: 2px;
  position: absolute;
  color: white;
  font-size: 45px;
  top: 280px;
  left: 55px;
}
body main div.main-part div.main div.line2 {
  width: 500px;
  border: 2px solid white;
  height: 2px;
  position: absolute;
  color: white;
  font-size: 45px;
  top: 320px;
  left: 80px;
}
body main div.main-part div.main div.img {
  position: relative;
  z-index: 1;
  top: 80px;
  left: 750px;
  width: 700px;
  height: 700px;
  background-image: url(../img/indexImg.png);
  background-size: contain;
  background-repeat: no-repeat;
}
body main div.main-part div.main #freeToUse {
  position: relative;
  width: 160px;
  height: 70px;
  border: 1px none #ec6700;
  top: -300px;
  left: 240px;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
  background-color: #ec6700;
  border-radius: 10px;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
body main div.main-part div.main #freeToUse:hover {
  background-color: #dc6000;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 20px rgba(0, 0, 0, 0.2), inset 0 0 30px rgba(0, 0, 0, 0.1); /* 第三层阴影，最模糊 */
  color: rgb(97, 97, 97) e;
}
body main div.main-part #loading-wrapper {
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main div.main-part #loading-wrapper div.loading {
  z-index: 11;
  top: 125px;
  left: 800px;
  position: absolute;
  width: 500px;
  border: 1px solid gray;
  box-shadow: 0 4px #666, inset 0 4px #aaa, 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
body main div.main-part #loading-wrapper div.loading div.logoAndname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body main div.main-part #loading-wrapper div.loading div.logoAndname div.logo {
  width: 55px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-size: contain;
}
body main div.main-part #loading-wrapper div.loading div.logoAndname div.name {
  font-size: larger;
  font-weight: bolder;
}
body main div.main-part #loading-wrapper div.loading div.discription {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
body main div.main-part #loading-wrapper div.loading div.numberAndphone {
  display: flex;
  justify-content: space-around;
  font-size: large;
  transition: all 0.5s ease-in;
}
body main div.main-part #loading-wrapper div.loading div.numberAndphone div.number {
  margin: 10px;
  border: 4px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
body main div.main-part #loading-wrapper div.loading div.numberAndphone div.number:hover {
  border-bottom: 4px solid #0e86ff;
}
body main div.main-part #loading-wrapper div.loading div.numberAndphone div.phone {
  cursor: pointer;
  margin: 10px;
  border: 4px solid white;
}
body main div.main-part #loading-wrapper div.loading div.numberAndphone div.phone:hover {
  border-bottom: 4px solid #0e86ff;
}
body main div.main-part #loading-wrapper div.loading div.userAndpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main div.main-part #loading-wrapper div.loading div.userAndpassword input {
  width: 70%;
  height: 40px;
  margin-bottom: 15px;
}
body main div.main-part #loading-wrapper div.loading div.userAndpassword input:focus {
  outline: none;
  box-shadow: none;
}
body main div.main-part #loading-wrapper div.loading div.autoLdAndforget {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
body main div.main-part #loading-wrapper div.loading div.autoLdAndforget div.forget a {
  text-decoration: none;
  color: #0e86ff;
}
body main div.main-part #loading-wrapper div.loading div.enter-wrapper {
  display: flex;
  justify-content: center;
}
body main div.main-part #loading-wrapper div.loading div.enter-wrapper div.enter {
  cursor: pointer;
  background-color: #0e86ff;
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin-top: 0px;
}
body main div.main-part #loading-wrapper div.loading div.enter-wrapper div.enter:hover {
  color: #afadad;
  background-color: #0c69c6;
}
body main div.main-part #loading-wrapper div.loading div.otherLd-img-Regisiter {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  cursor: pointer;
}
body main div.main-part #loading-wrapper div.loading div.otherLd-img-Regisiter div.otherLd {
  flex: 1 1 100px;
}
body main div.main-part #loading-wrapper div.loading div.otherLd-img-Regisiter div.img {
  flex: 3 1 200px;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  color: #4e4d4d;
}
body main div.main-part #loading-wrapper div.loading div.otherLd-img-Regisiter div.img i.fa-youtube {
  color: red;
}
body main div.main-part #loading-wrapper div.loading div.otherLd-img-Regisiter div.Register {
  flex: 1 1 50px;
}
body main div.main-part #loading-wrapper div.loading div.otherLd-img-Regisiter div.Register a {
  text-decoration: none;
}
body main div.main-part #loading-wrapper div.items {
  display: flex;
  margin-top: 500px;
}
body main div.main-part #loading-wrapper div.items div.item1 {
  padding-right: 10px;
}
body main div.main-part #loading-wrapper div.items div.item2 {
  padding-right: 10px;
}
body main div.main-part #loading-wrapper div.items div.item3 {
  padding-right: 10px;
}
body main div.main-part #loading-wrapper div.items div.copyRight1 {
  top: 200px;
  font-size: large;
  font-weight: bold;
}
body main div.main-part #loading-wrapper div.mainImg img {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 220px;
  z-index: 1;
}
body main div.main-part #loading-wrapper div.return {
  position: absolute;
  top: 30px;
  left: 1400px;
  font-size: 45px;
  cursor: pointer;
}
body main div.main-part #loading-phone {
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  top: 0px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main div.main-part #loading-phone div.loading-phone {
  z-index: 11;
  top: 125px;
  left: 800px;
  position: absolute;
  width: 500px;
  border: 1px solid gray;
  box-shadow: 0 4px #666, inset 0 4px #aaa, 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
body main div.main-part #loading-phone div.loading-phone div.logoAndname {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
body main div.main-part #loading-phone div.loading-phone div.logoAndname div.logo {
  width: 55px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-size: contain;
}
body main div.main-part #loading-phone div.loading-phone div.logoAndname div.name {
  font-size: larger;
  font-weight: bolder;
}
body main div.main-part #loading-phone div.loading-phone div.discription {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
body main div.main-part #loading-phone div.loading-phone div.numberAndphone {
  display: flex;
  justify-content: space-around;
  font-size: large;
  transition: all 0.5s ease-in;
}
body main div.main-part #loading-phone div.loading-phone div.numberAndphone div.number {
  margin: 10px;
  border: 4px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}
body main div.main-part #loading-phone div.loading-phone div.numberAndphone div.number:hover {
  border-bottom: 4px solid #0e86ff;
}
body main div.main-part #loading-phone div.loading-phone div.numberAndphone div.phone {
  cursor: pointer;
  margin: 10px;
  border: 4px solid white;
}
body main div.main-part #loading-phone div.loading-phone div.numberAndphone div.phone:hover {
  border-bottom: 4px solid #0e86ff;
}
body main div.main-part #loading-phone div.loading-phone div.userAndpassword {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main div.main-part #loading-phone div.loading-phone div.userAndpassword input {
  width: 70%;
  height: 40px;
  margin-bottom: 15px;
}
body main div.main-part #loading-phone div.loading-phone div.userAndpassword input:focus {
  outline: none;
  box-shadow: none;
}
body main div.main-part #loading-phone div.loading-phone div.userAndpassword div.send {
  width: 30%;
  height: 40px;
  position: absolute;
  top: 193px;
  left: 275px;
  color: white;
  background-color: rgba(170, 170, 170, 0.4862745098);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
body main div.main-part #loading-phone div.loading-phone div.userAndpassword div.send:hover {
  background-color: #aaaaaa;
}
body main div.main-part #loading-phone div.loading-phone div.autoLdAndforget {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
body main div.main-part #loading-phone div.loading-phone div.autoLdAndforget div.forget a {
  text-decoration: none;
  color: #0e86ff;
}
body main div.main-part #loading-phone div.loading-phone div.enter-wrapper {
  display: flex;
  justify-content: center;
}
body main div.main-part #loading-phone div.loading-phone div.enter-wrapper div.enter {
  cursor: pointer;
  background-color: #0e86ff;
  width: 70%;
  height: 30px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin-top: 0px;
}
body main div.main-part #loading-phone div.loading-phone div.enter-wrapper div.enter:hover {
  color: #afadad;
  background-color: #0c69c6;
}
body main div.main-part #loading-phone div.loading-phone div.otherLd-img-Regisiter {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  cursor: pointer;
}
body main div.main-part #loading-phone div.loading-phone div.otherLd-img-Regisiter div.otherLd {
  flex: 1 1 100px;
}
body main div.main-part #loading-phone div.loading-phone div.otherLd-img-Regisiter div.img {
  flex: 3 1 200px;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  color: #4e4d4d;
}
body main div.main-part #loading-phone div.loading-phone div.otherLd-img-Regisiter div.img i.fa-youtube {
  color: red;
}
body main div.main-part #loading-phone div.loading-phone div.otherLd-img-Regisiter div.Register {
  flex: 1 1 50px;
}
body main div.main-part #loading-phone div.loading-phone div.otherLd-img-Regisiter div.Register a {
  text-decoration: none;
}
body main div.main-part #loading-phone div.items {
  display: flex;
  margin-top: 500px;
}
body main div.main-part #loading-phone div.items div.item1 {
  padding-right: 10px;
}
body main div.main-part #loading-phone div.items div.item2 {
  padding-right: 10px;
}
body main div.main-part #loading-phone div.items div.item3 {
  padding-right: 10px;
}
body main div.main-part #loading-phone div.items div.copyRight1 {
  top: 200px;
  font-size: large;
  font-weight: bold;
}
body main div.main-part #loading-phone div.mainImg img {
  display: inline-block;
  position: absolute;
  top: 60px;
  left: 220px;
  z-index: 1;
}
body main div.main-part #loading-phone div.return {
  position: absolute;
  top: 30px;
  left: 1400px;
  font-size: 45px;
  cursor: pointer;
}
body footer div {
  position: relative;
  top: -220px;
  left: 380px;
  color: white;
  font-weight: lighter;
}/*# sourceMappingURL=index.css.map */