@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto+Sans+SC", "Courier New", Courier, monospace;
}

body header {
  position: sticky;
  z-index: 100;
  top: 0;
}
body header nav.wrapper-banner {
  background: linear-gradient(to right, #333333, #4e4d4d);
  width: 100%;
  display: flex;
  min-height: 50px;
}
body header nav.wrapper-banner nav.wrapper {
  width: 100%;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.air {
  flex: 1 1 20px;
}
body header nav.wrapper-banner nav.wrapper div.left {
  flex: 3 1 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.left div.logo {
  width: 65px;
  height: 50px;
  background-image: url(../img/logo.png);
  background-size: contain;
  position: relative;
  z-index: 9;
}
body header nav.wrapper-banner nav.wrapper div.left div.logo-name {
  font-size: 22px;
  font-weight: bolder;
  color: white;
}
body header nav.wrapper-banner nav.wrapper div.middle {
  flex: 4 1 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease;
}
body header nav.wrapper-banner nav.wrapper div.middle div a:hover {
  color: #55a5f6;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer {
  position: relative;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 {
  overflow: hidden;
  transition: height ease-in-out;
  transition-duration: 0.2s;
  position: absolute;
  width: 1920px;
  height: 0px;
  top: 36px;
  left: -800px;
  background-color: white;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 {
  display: flex;
  margin-top: 20px;
  padding-right: 20px;
  border-right: 2px solid gray;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.name {
  font-size: small;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo {
  margin-top: 20px;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo i {
  font-size: 20px;
  flex: 1 1 20px;
  color: #0e86ff;
  padding-right: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo p {
  padding: 0;
  margin: 0;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo p.b {
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-1 div.demo p.b b.new {
  color: red;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 {
  display: flex;
  margin-top: 20px;
  padding-right: 20px;
  border-right: 2px solid gray;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
  margin-left: 20px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.name {
  font-size: small;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo {
  margin-top: 20px;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo i {
  font-size: 20px;
  flex: 1 1 20px;
  color: #0e86ff;
  padding-right: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo p {
  padding: 0;
  margin: 0;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo p.b {
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-2 div.demo p.b b.new {
  color: red;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 {
  margin-top: 20px;
  display: flex;
  margin-left: 20px;
  padding-right: 20px;
  border-right: 2px solid gray;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.name {
  font-size: small;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo {
  margin-top: 20px;
  display: flex;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo i {
  font-size: 20px;
  flex: 1 1 20px;
  color: #0e86ff;
  padding-right: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo p {
  padding: 0;
  margin: 0;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo p.b {
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer div.infomation1 div.info-3 div.demo p.b b.new {
  color: red;
}
body header nav.wrapper-banner nav.wrapper div.middle div.produceServer:hover div.infomation1 {
  height: 600px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API {
  position: relative;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 {
  overflow: hidden;
  display: flex;
  transition: height ease-in-out;
  transition-duration: 0.2s;
  position: absolute;
  width: 1920px;
  height: 0px;
  top: 36px;
  left: -700px;
  background-color: white;
  z-index: 10;
  justify-content: center;
  align-items: baseline;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 {
  display: flex;
  margin-top: 20px;
  padding-right: 20px;
  height: 500px;
  flex-direction: column; /* 设置为竖向排列 */
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.name {
  position: absolute;
  color: black;
  z-index: 11;
  left: 200px;
  font-size: larger;
  font-weight: bolder;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.wrapper {
  border-top: 2px solid gray;
  padding: 10px 0;
  left: 200px;
  top: 70px;
  position: absolute;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.wrapper div.a {
  flex-direction: column; /* 设置为竖向排列 */
  display: flex;
  justify-content: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API div.infomation2 div.info-1 div.wrapper div.a a {
  font-size: medium;
  color: black;
}
body header nav.wrapper-banner nav.wrapper div.middle div.API:hover div.infomation2 {
  height: 400px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs {
  position: relative;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 {
  overflow: hidden;
  transition: height ease-in-out;
  transition-duration: 0.2s;
  position: absolute;
  width: 400px;
  height: 0px;
  top: 37px;
  left: 0px;
  background-color: white;
  z-index: 11;
  display: flex;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 div.name {
  margin-left: -56px;
  font-size: larger;
  font-weight: bolder;
  margin-top: 20px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 div.items {
  border-top: 1px solid gray;
  padding: 20px;
  font-size: 12px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-1 div.items div.items-items {
  border-top: 1px solid gray;
  padding-top: 10px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: rgba(222, 220, 220, 0.2980392157);
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 p.b {
  font-size: small;
  font-weight: lighter;
  padding-left: 50px;
  color: #4e4d4d;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 span.ren {
  color: #55a5f6;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs div.infomation3 div.part-2 p {
  margin-top: 20px;
  padding-bottom: 0;
  display: block;
  font-size: 12px;
}
body header nav.wrapper-banner nav.wrapper div.middle div.aboutUs:hover div.infomation3 {
  height: 400px;
}
body header nav.wrapper-banner nav.wrapper div.phone {
  flex: 3 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav.wrapper-banner nav.wrapper div.phone i {
  display: inline-block;
  color: white;
}
body header nav.wrapper-banner nav.wrapper div.right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
body header nav.wrapper-banner nav.wrapper div.right div.freeToRegister {
  margin-left: 10px;
  background-color: #0e86ff;
  border-radius: 5px;
}
body header nav.wrapper-banner nav.wrapper div.right div.freeToRegister:hover {
  color: #4e4d4d;
  background-color: #0c69c6;
}
body header nav.wrapper-banner nav.wrapper div.right div a {
  color: white;
  text-decoration: none;
}
body header nav.wrapper-banner nav.wrapper div.right div i {
  color: white;
}
body main div.mian-part div.part1 {
  width: 100%;
  height: 400px;
  background-image: url(../img/pro-ser-bg.png);
  background-size: contain;
}
body main div.mian-part div.part1 div.info {
  position: absolute;
  top: 100px;
  left: 50px;
}
body main div.mian-part div.part1 div.info div.h1 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bolder;
  color: white;
}
body main div.mian-part div.part1 div.info div.p {
  color: white;
  margin-left: 20px;
}
body main div.mian-part div.part1 div.info div.enterbtn {
  position: absolute;
  top: 150px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border: 1px solid white;
  color: white;
}
body main div.mian-part div.part1 div.info div.enterbtn:hover {
  background-color: #0c69c6;
  border: 1px solid #0c69c6;
  color: rgb(218, 216, 216);
}
body main div.mian-part div.part2 {
  width: 100%;
  height: 800px;
  background-color: rgb(244, 241, 241);
}
body main div.mian-part div.part2 div.row1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.mian-part div.part2 div.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.mian-part div.part2 div.infobox {
  border: 8px solid rgb(244, 241, 241);
  margin-top: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
}
body main div.mian-part div.part2 div.infobox div.img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
body main div.mian-part div.part2 div.infobox div.name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 10px;
}
body main div.mian-part div.part2 div.infobox div.p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: small;
  font-weight: lighter;
  margin: 5px;
}
body main div.mian-part div.part2 div.infobox div.Watch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
body main div.mian-part div.part2 div.infobox div.Watch p {
  display: block;
  font-size: medium;
  border: 1px solid rgb(181, 180, 180);
  width: 80%;
  text-align: center;
}
body main div.mian-part div.part2 div.infobox div.Watch p:hover {
  background-color: #0c69c6;
  border: 1px solid #0c69c6;
  color: rgb(218, 216, 216);
}
body main div.mian-part div.part2 div.infobox:hover {
  transition: all ease 0.2s;
  border: 8px solid white;
}
body main div.mian-part div.part3 {
  width: 100%;
  height: 1100px;
  background-color: white;
}
body main div.mian-part div.part3 div.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  margin-top: 60px;
}
body main div.mian-part div.part3 div.section1 {
  display: flex;
  margin-top: 75px;
  margin-left: 300px;
}
body main div.mian-part div.part3 div.section1 h2 {
  font-weight: lighter;
}
body main div.mian-part div.part3 div.section1 p {
  color: gray;
}
body main div.mian-part div.part3 div.section2 {
  display: flex;
  margin-top: 50px;
  margin-left: 150px;
}
body main div.mian-part div.part3 div.section2 div.info {
  margin-left: 50px;
}
body main div.mian-part div.part3 div.section2 h2 {
  font-weight: lighter;
}
body main div.mian-part div.part3 div.section2 p {
  color: gray;
}
body main div.mian-part div.part4 {
  width: 100%;
  height: 400px;
  background-color: rgb(244, 241, 241);
}
body main div.mian-part div.part4 div.h1 {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.mian-part div.part4 div.h1 p {
  font-size: 30px;
  font-weight: normal;
}
body main div.mian-part div.part4 div.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.mian-part div.part4 div.info-wrapper div.info {
  margin-left: 20px;
  position: relative;
  width: 200px;
  height: 100px;
  border: 4px solid gray;
}
body main div.mian-part div.part4 div.info-wrapper div.info div.maru {
  position: absolute;
  top: -27px;
  left: 70px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 4px solid white;
  border-radius: 50%;
}
body main div.mian-part div.part4 div.info-wrapper div.info div.maru p {
  margin-left: 8px;
  margin-top: -8px;
  font-size: 40px;
  font-weight: bolder;
  color: #0e86ff;
}
body main div.mian-part div.part4 div.info-wrapper div.info p.p {
  position: absolute;
  top: 35px;
  left: 45px;
  font-size: 20px;
  font-weight: bold;
}
body main div.mian-part div.part4 div.introduce {
  margin-top: 30px;
  text-align: center;
}
body main div.mian-part div.part4 div.btn {
  margin-left: 700px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid gray;
  width: 10%;
}
body main div.mian-part div.part4 div.btn:hover {
  background-color: #0c69c6;
  border: 1px solid #0c69c6;
  color: rgb(218, 216, 216);
}
body main div.mian-part div.part4 div.btn p {
  display: block;
  padding-top: 8px;
}
body main div.mian-part div.part5 {
  width: 100%;
  height: 300px;
  background-image: url(../img/home-register.png);
  background-size: contain;
}
body main div.mian-part div.part5 div.h1 {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.mian-part div.part5 div.h1 p {
  color: white;
}
body main div.mian-part div.part5 div.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main div.mian-part div.part5 div.info-wrapper div.info {
  padding-left: 20px;
}
body main div.mian-part div.part5 div.info-wrapper div.info img {
  margin-bottom: 5px;
}
body main div.mian-part div.part5 div.info-wrapper div.info p {
  color: white;
}
body main div.mian-part div.part5 div.info-wrapper div.info p.p {
  color: white;
  position: relative;
  left: -50px;
  top: -10px;
}
body main div.mian-part div.part6 {
  width: 100%;
  height: 100px;
  background-color: #2e3034;
}
body main div.mian-part div.part6 div.info-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
body main div.mian-part div.part6 div.info-wrapper div.info {
  display: flex;
  align-items: center;
}
body main div.mian-part div.part6 div.info-wrapper div.info h2,
body main div.mian-part div.part6 div.info-wrapper div.info h4 {
  margin-left: 20px;
  font-size: medium;
  color: #999;
}
body main div.mian-part div.part6 div.info-wrapper div.info h2 {
  font-size: 25px;
}
body main div.mian-part div.part7 {
  width: 100%;
  height: 500px;
  background-color: #242b3a;
}
body main div.mian-part div.part7 div.info-wrapper {
  display: flex;
  justify-content: center;
}
body main div.mian-part div.part7 div.info-wrapper div.info {
  margin-top: 30px;
  margin-left: 30px;
  border-right: 2px solid #999;
  padding-right: 30px;
}
body main div.mian-part div.part7 div.info-wrapper div.info h3 {
  margin-top: 30px;
  color: white;
}
body main div.mian-part div.part7 div.info-wrapper div.info p {
  margin-top: 15px;
  color: #999;
}/*# sourceMappingURL=produceServer.css.map */